<% @courses.each do |course| %>
  <tr>
    <% current_course = course.id %>
    <td><%= course.id %></td>
    <td><%= course.code %></td>
    <td><%= course.name %></td>
    <td><%= course.description %></td>
    <% if !current_user.nil? %>
      <td><%=link_to "Enroll", course_enroll_path(course, user_id: current_user.id), method: :post, class:"btn btn-primary", remote:true %></td>
    <% end %>
  </tr>
<% end %>