<p id="notice"><%= notice %></p>
<% if !current_user.nil? %>
<h1>Search</h1>

</br>
  <div class="input-group">
    <%= form_tag(search_path, method: :post, id: "search-form", remote: true) do %>

      <select class="selectpicker" title="Please select subject..." data-live-search="true" id="sub-filter" name="filter">
        <option value="">All Subjects</option>
        <% @subjects.each do |sub| %>
          <option value= <%= sub.num %>> <%= sub.name %></option>
        <% end %>
      </select>
      <%= text_field_tag :phrase, params[:phrase], placeholder: "Search", id:"phrase" %>
      <!-- <%= submit_tag "Search"%> -->
    <% end %>
  </div>


</br>

  <div id= "display">
    <%= render "result"%>
  </div>
  
  </br>

<button type="button" class="btn btn-default"><%= link_to 'New Course', new_course_path %></button>

<% else %>
  <div class="alert alert-danger">Please <strong>sign in </strong>to view more.</div>
  <%= render file: 'sessions/new' %>
<% end %>
<%= javascript_include_tag 'search_ajax' %>
<!-- <script>
  $('#phrase').on('keyup', ajaxSubmitSearchForm);
  $('#sub-filter').on('change',ajaxSubmitSearchForm);
  $('#search-form').on('submit', function(e) {
    e.preventDefault();
    ajaxSubmitSearchForm();
  })    
  function ajaxSubmitSearchForm(){
    console.log($('#search-form').serialize())
    $.ajax({
      url: $('#search-form').attr('action'),
      type: 'POST',
      dataType: "json",
      data: $('#search-form').serialize(),
      success: function (data) {

        $('#display').html(data.content);
      },
      complete: function (data) {
        console.log(data)
      }
    });
  }
</script> -->