<p id="notice"><%= notice %></p>

<h1>Instructors</h1>

</br>
<%= page_entries_info @instructors %> </br>
<%= will_paginate @instructors, :container => false %> </br>
</br>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>First</th>
      <th>Last</th>
      <th>Email</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= instructor.id %></td>
        <td><%= instructor.first %></td>
        <td><%= instructor.last %></td>
        <td><%= instructor.email %></td>
        <!-- <td><%= link_to 'Show', instructor %></td>
        <td><%= link_to 'Edit', edit_instructor_path(instructor) %></td>
        <td><%= link_to 'Destroy', instructor, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off">
  <%= link_to 'New Instructor', new_instructor_path %>
</button>
