<p id="notice"><%= notice %></p>

<h1>Registration</h1>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <!-- <th></th> -->
      <th>Enrolled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><% user.registrations.each do |r| %>
          <%= Course.find(r.course_id).code  %>
          <%= Course.find(r.course_id).name  %>
          </br>
        <% end %></td>

        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <% @users.each do |u| %>
  <Strong>User: </Strong> 
  <%= u.name %> <br/>
  <Strong>Enrolled Classes: </Strong> 
  <% u.registrations.each do |r| %>
    </br>
    <%= Course.find(r.course_id).code  %>
    <%= Course.find(r.course_id).name  %>
  <% end %>
  <h1></h1>
<% end %> -->

<button type="button" class="btn btn-default"><%= link_to 'New User', new_user_path %></button>
