<p id="notice"><%= notice %></p>

<h1>All Registration (<%= User.count %> users)</h1>

<%= will_paginate %>
<table class = "table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Gravatar</th>
      <th>Info</th>
      <th>Enrolled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><img class="img-circle" alt="Cinque Terre" <%= gravatar_for user, size: 50 %></td>
        <td><strong><%= user.name %></strong></br>
            <%= user.email %></br>
            <p class = "text-danger"> Taking <%= user.registrations.count %> courses</p></td>
        <td>
          <!-- Database Count: <%= Registration.where(:user_id => user.id).count%> -->
          <% user.registrations.each do |r| %>
          <%= Course.find(r.course_id).code  %>
          <%= Course.find(r.course_id).name  %>         
          </br>
        <% end %></td>

        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %></br>

<button type="button" class="btn btn-default"><%= link_to 'New User', new_user_path %></button>
