<div class="row">
	<div class = "class profile">
		<% if !current_user.nil? %>
			<p id="notice"><%= notice %></p>
			<div class="row">
				<div class="row">
				  <div class="col-md-4">
				    <section class="user_info">
				      <div class = "col-md-4">
				        <img class="img-circle" alt="Cinque Terre" size="150" <%= gravatar_for current_user %>
				      </div>
				      <div class = "col-md-8">
				        <h4><strong><%= current_user.name %></strong></h4>
				          <p><%= current_user.email %></p>
				          <p><%= link_to 'Edit', edit_user_path(current_user) %> |
				          <%= link_to 'Delete', current_user, method: :delete, data: { confirm: "You sure?" } %></p>
				        
				      </div>
				    </section>
				  </div>

				  <div class="col-md-8">
				  	<strong><h4>Enrolled Courses <span class="label label-danger"><%= current_user.registrations.count %></span></h4></strong>
					  <ul>
					  <% current_user.registrations.each do |r| %>
					    <li><%= Course.find(r.course_id).code  %> | 
					        <%= Course.find(r.course_id).name  %>
					        <%= link_to 'Unenroll', r, method: :delete, data: { confirm: "You sure to unenroll from this class?" }, class: "btn btn-link" %>
					        </li>
					  <% end %>
					  </ul>
				  </div>
				</div>
			</div>
		<% else %>
			<div class="alert alert-danger">Please <strong>sign in </strong>to view more.</div>
			<center><button type="button" class="btn btn-primary btn-block"><%= link_to "Sign in", login_path %></button></center>
			<center><p class="text-primary">New user? <%= link_to "Sign up now!", signup_path %></p></center>
		<% end %>
	</div>
	<hr>
	<div class = "link container">
		</br>
		<h3>Links:</h3>
		<p class="text-muted"><strong>Link to private GitHub repo:</strong> <a href="https://github.com/ziyuqiu/Rails">https://github.com/ziyuqiu/Rails</a></br></p>
		<p class="text-primary"><strong>Link to Heroku:</strong> <a href="https://course-catalog-ziyuqiu.herokuapp.com/">https://course-catalog-ziyuqiu.herokuapp.com/</a></br></p>

	</div>
	<div class="col-md-12">
		<!-- <center><%= image_tag("castle.png", :alt => "img missing", :size => "600x400", :crop => :fit) %></center> -->
		<iframe width="1140" height="640" src="https://www.youtube.com/embed/aiiCRA3G5e0?autoplay=1"></iframe>
	</div>
</div>