<!-- <h1>User registered</h1>
<% @users.each do |u| %>
	<Strong>User: </Strong> 
	<%= u.name %> 
	is enrolled in: 
	<%= User.find(1).registrations.each do |r| %>
		<% Course.find(r.course_id).name  %>
	<% end %> 
<% end %>
 -->


<div class="row">
	<div class = "class profile">
		<% if !current_user.nil? %>
			<p id="notice"><%= notice %></p>
			<div class="row">
				<div class="row">
				  <div class="col-md-4">
				    <section class="user_info">
				      <div class = "col-md-4">
				        <img class="img-circle" alt="Cinque Terre" size="150" <%= gravatar_for current_user %>
				      </div>
				      <div class = "col-md-8">
				        <h4><strong><%= current_user.name %></strong></h4>
				          <p><%= current_user.email %></p>
				          <p><%= link_to 'Edit', edit_user_path(current_user) %> |
				          <%= link_to 'Delete', current_user, method: :delete, data: { confirm: "You sure?" } %></p>
				        
				      </div>
				    </section>
				  </div>

				  <div class="col-md-8">
				  	<strong><h4>Enrolled Courses <span class="label label-danger"><%= current_user.registrations.count %></span></h4></strong>
					  <ul>
					  <% current_user.registrations.each do |r| %>
					    <li><%= Course.find(r.course_id).code  %> | 
					        <%= Course.find(r.course_id).name  %></li>
					  <% end %>
					  </ul>
				  </div>
				</div>
			</div>
		<% else %>
			<center><button class="btn btn-primary"><%= link_to "Sign in", login_path %></button></center>
			<center><p class="text-primary">New user? <%= link_to "Sign up now!", signup_path %></p></center>
		<% end %>
	</div>
	<div class = "link container">
		</br>
		<h3>Links:</h3>
		<p class="text-muted"><strong>Link to private GitHub repo:</strong> <a href="https://github.com/ziyuqiu/Rails">https://github.com/ziyuqiu/Rails</a></br></p>
		<p class="text-primary"><strong>Link to Heroku:</strong> <a href="https://course-catalog-ziyuqiu.herokuapp.com/">https://course-catalog-ziyuqiu.herokuapp.com/</a></br></p>

		<h3>For PA Rails1:</h3>
		<p class="text-success"><strong>Home page:</strong><a href="https://course-catalog-ziyuqiu.herokuapp.com/">https://course-catalog-ziyuqiu.herokuapp.com/</a></br></p>
			
		<p class="text-info"><strong>Table of Instructors: </strong> <a href="https://course-catalog-ziyuqiu.herokuapp.com/instructors">https://course-catalog-ziyuqiu.herokuapp.com/instructors</a></br></p>
		<p class="text-warning"><strong>Table of Subjects: </strong> <a href="https://course-catalog-ziyuqiu.herokuapp.com/subjects">https://course-catalog-ziyuqiu.herokuapp.com/subjects</a></br></p>
		<p class="text-danger"><strong>Table of Courses: </strong> <a href="https://course-catalog-ziyuqiu.herokuapp.com/courses">https://course-catalog-ziyuqiu.herokuapp.com/courses</a></br></p>

		<h3>For PA Rails2:</h3>
		<p class="text-success"><strong>Registration List: </strong> <a href="https://course-catalog-ziyuqiu.herokuapp.com/users">https://course-catalog-ziyuqiu.herokuapp.com/users</a></br></p>


	</div>
	<div class="col-md-12">
		<center><%= image_tag("castle.png", :alt => "img missing", :size => "600x400", :crop => :fit) %></center>
	</div>
</div>