<!-- <h1>User registered</h1>
<% @users.each do |u| %>
	<Strong>User: </Strong> 
	<%= u.name %> 
	is enrolled in: 
	<%= User.find(1).registrations.each do |r| %>
		<% Course.find(r.course_id).name  %>
	<% end %> 
<% end %>
 -->


<div class="photo-row">
	</br>
	<center><%= link_to "Sign in", signup_path, class: "btn btn-default" %>
			<%= link_to "Sign up now!", signup_path, class: "btn btn-default" %></center>
	</br>
	<center><%= image_tag("castle.png", :alt => "img missing", :size => "800x500") %></center>
</div>