<p id="notice"><%= notice %></p>

<h1>Courses</h1>
</br>
<%= page_entries_info @courses %> </br>
<%= will_paginate @courses, :container => false %> </br>
</br>

<table class = "table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>  
      <th></th>    
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= @a = course.id %></td>
        <td><%= course.code %></td>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td><button  class="btn btn-link", action = "courses/enroll">Enroll</button></td>
        <!-- <%= link_to 'Back', users_path %> -->
        
        <!-- <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>

  </tbody>
</table>

<br>



<button type="button" class="btn btn-default"><%= link_to 'New Course', new_course_path %></button>